@import '../../styles/variables.scss';

.header {
    background-color: $color-primary-second-noglass;
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 10px -1px $color-primary-fourth;
    z-index: 100;



    display: flex;
    justify-content: space-between;
    align-items: center;

}

@supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
    .header {
      background-color: $color-primary-second-glass;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
}