@import '../../styles/formView.module.scss';

.myEvents {
    margin-top: 8rem;

    &__twoColumns {
        width: 80%;
        height: 100%;

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}