@keyframes sidebarEnter {
    0% {
        right: -20rem;
    }
    50% {
        right: 2rem;
    }
    100% {
        right: 0;
    }
}

@keyframes sidebarOut {
    0% {
        right: 0;
    }
    50% {
        right: 2rem;
    }
    100% {
        right: -20rem;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes search-bg {
    0%{background-position:71% 0%}
    50%{background-position:30% 100%}
    100%{background-position:71% 0%}
}