$color-pale-grey: #F5F5F5; 
$color-darker-grey: #d3d3d3;

$color-primary: #27348B;
$color-primary-second: #A1CDF1;
$color-primary-third: #50A2A7;
$color-primary-fourth: #E4D6A7;

$color-google-red: #da736a;