$color-pale-grey: #F5F5F5; 
$color-darker-grey: #e7e5e5;
$color-darker-grey-2: #f5f5f5;

$color-primary: #27348B;
$color-primary-second: #A1CDF1;
$color-primary-third: #50A2A7;
$color-primary-fourth: #E4D6A7;

$color-google-red: #da736a;

//glasmorphism colors
$color-primary-glass: rgba(39, 52, 139, .5);
$color-primary-second-noglass: rgba(161, 205, 241, .95);
$color-primary-second-glass: rgba(161, 205, 241, .5);
$color-white-noglass: rgba(255,255,255,0.95);
$color-white-glass: rgba(255,255,255,0.4);

//beakpionts
$bp-medium: 720px;